/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: 'Roboto', 'SF Pro Text', 'SF Pro Display', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
body {
  background-color: #3e3e3e;
}
fieldset {
  border: none;
  padding: 0;
}
legend {
  padding: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}
.step-four-legend {
  margin-bottom: 6px;
}
ul {
  padding: 0 0 0 24px;
}
li {
  line-height: 20px;
  letter-spacing: .25px;
}
h2 {
  font-size: 14px;
  font-weight: 500;
  color: #242424;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.workflow-builder form {
  background-color: #FFFFFF;
  color: #242424;
  margin: 2rem auto;
  max-width: 420px;
    border-radius: 4px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px 16px 16px;
    gap: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border-top: 1px solid #000000;
}

.hidden {
  display: none;
}

/* Progress Indicators */
.progress-container {
  padding: 0 8px;
}
.progress {
  display: inline-flex;
  gap: .5rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.progress-step a {
  text-decoration: none;
  color: #000000;
}

.progress-step a.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.form-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}


.checkbox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .5rem;
}

.selection-card {
  padding: 8px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

.selection-card label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.selection-card label span {
  font-size: 14px;
  font-weight: 500;
}

.selection-icon {
  flex-shrink: 0;
}



.selection-card.selected {
  background-color: #DEEAF8;
  border-color: #1849A9;
}

.selection-card.selected .selection-icon path {
  fill: #242424;
}

.select-all {
  color: #242424;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: .5rem;
}
.form-navigation {
  padding: .5rem 1rem;
  border-top: 1px solid #D1D1D1;
}

.review-content-section {
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  color: #242424;
  font-size: 14px;
  padding: 6px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
}

.review-content-section p {
  line-height: 20px;
  letter-spacing: .25px;
}

/* Buttons */
button {
  cursor: pointer;
}
.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.conditional-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
}

.button-link {
  color: #2F6DE9;
  text-decoration: underline;
  background-color: #FFFFFF;
  border: none;
  line-height: 20px;
  letter-spacing: .16px;
  margin: auto 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.save-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.button-primary {
  padding: 8px 16px;
  border-width: 0;
    border-style: none;
  border-radius: 8px;
  border-color: transparent;
  background-color: #1849A9;
  color: #FFFFFF;
  max-width: 280px;
}

.button-secondary {
  font-weight: 500;
  color: #1849A9;
  max-width: 280px;
  border: none;
  background-color: #FFFFFF;
}

.button-tertiary {
  max-width: 280px;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: #FFFFFF;
  color: #1849A9;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: .1px;
}

.exit-btn-container {
  height: 40px;
  width: 40px;
  max-width: 40px;
  max-height: 40px;

}

.exit-btn {
  height: 40px;
  border: none;
  background-color: #FFFFFF;
  display: block;
  margin: auto;
}

.helper-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  color: #424242;
  margin-bottom: 12px;
}